 <div class="row-xl-12">
    <app-card cardTitle="Detalhes do Culto" [options]="false" blockClass="table-border-style">
      <div class="row">
        <p>Ata número {{minute?.ataNumber}} da reunião da União Presbiteriana de Homens,
             reunido no dia {{minute?.data}} no {{minute?.local}}. 
             A reunião foi presidida pelo {{minute?.president}}, Presidente desta União Presbiteriana de Homens.
              Estavam presentes os membros,  Rev. Cláudio José Viana, Diac. Wesley Lima de Sousa, Diac Guilherme Taveira Berson,
               Diac. Alisson Dantas de Oliveira, Diac.  Amauri Santos de Campos, 
               Diac. Francisco de Lemes Ferreira Filho e Diac. Reginaldo Antonio Fais. 
               A reunião teve início às {{minute?.hour}}</p>
        <p>{{minute?.content}}</p>

        <p>Não havendo mais nada para ser tratado, encerrou-se a presente às {{minute?.finishHour}} com uma oração pelo 
            {{minute?.finishPray}}. E eu {{minute?.secretary}}, 
            Secretário da Junta Diaconal da Igreja Presbiteriana Palmas Norte, a tudo presente, 
            lavrei e assino a presente</p>
      </div>
    </app-card>
  </div>
  