 <div class="row-xl-12">
    <app-card cardTitle="Ata de Número {{minute?.ataNumber}}" [options]="false" blockClass="table-border-style">
      <div class="row" id="pdfContent">
        <p>Ata número {{minute?.ataNumber}} da reunião da União Presbiteriana de Homens,
             reunido no dia {{formattedDate}} no {{minute?.local}}. 
             A reunião foi presidida pelo {{minute?.president}}, Presidente desta União Presbiteriana de Homens.
              Estavam presentes os membros, {{minute?.presents}} e ausentes os membros, {{minute?.ausents}}.
               A reunião teve início às {{minute?.hour}}</p>
        <p>{{minute?.content}}</p>

        <p>Não havendo mais nada para ser tratado, encerrou-se a presente às {{minute?.finishHour}} com uma oração pelo 
            {{minute?.finishPray}}. E eu {{minute?.secretary}}, 
            Secretário da União Presbiteriana de Homens da Igreja Presbiteriana Palmas Norte, a tudo presente, 
            lavrei e assino a presente</p>
      </div>


      <button class="btn btn-light-primary" (click)="generatePDF()">Baixar PDF</button>
      <button class="btn btn-light-primary" (click)="generateDocx()">Baixar DOCX</button>


    </app-card>
  </div>
  