<div class="col-xl-12">
  <app-card cardTitle="Cultos" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-styling">
        <thead>
          <tr class="table-primary">
            <th>Tema</th>
            <th>Data</th>
            <th>Pregador</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cult of cults">
            <td>{{ cult.tema }}</td>
            <td>{{ cult?.data | date: 'dd \'de\' MMMM \'de\' yyyy' }}</td>
            <td>{{ cult.pregador }}</td>
            <td>
              <button class="btn btn-light-primary custom-btn-spacing" (click)="showDetails(cult.id)">
                <i class="fas fa-info-circle mr-2"></i> 
              </button>
              <button class="btn btn-light-warning custom-btn-spacing">
                <i class="fas fa-edit mr-2"></i> 
              </button>
              <button class="btn btn-light-danger custom-btn-spacing" (click)="deleteCult(cult.id)">
                <i class="fas fa-trash-alt mr-2"></i> 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="hasMoreCults">
      <button class="btn btn-light-primary" (click)="loadMoreCults(5)"> Mais </button> 
    </div>

  </app-card>
</div>
