<div class="col-xl-12">
  <app-card cardTitle="Cultos" [options]="false" blockClass="table-border-style">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="startDate" class="form-label">Data Início</label>
        <input type="date" [(ngModel)]="startDate" id="startDate" class="form-control" placeholder="Selecione a data de início">
      </div>
      <div class="col-md-6 mb-3">
        <label for="endDate" class="form-label">Data Fim</label>
        <input type="date" [(ngModel)]="endDate" id="endDate" class="form-control" placeholder="Selecione a data de fim">
      </div>
    </div>
    <button class="btn btn-primary col-md-12" (click)="searchByDate()">Buscar</button>


    <div class="table-responsive" style="padding-top: 2rem;">
      <table class="table table-styling">
        <thead>
          <tr class="table-primary">
            <th>Tema</th>
            <th>Data</th>
            <th>Pregador</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cult of cults">
            <td>{{ cult.tema }}</td>
            <td>{{ cult?.data | date: 'dd \'de\' MMMM \'de\' yyyy' }}</td>
            <td>{{ cult.pregador }}</td>
            <td>
              <button class="btn btn-light-primary custom-btn-spacing" (click)="showDetails(cult.id)">
                <i class="fas fa-info-circle mr-2"></i> 
              </button>
              <button class="btn btn-light-warning custom-btn-spacing">
                <i class="fas fa-edit mr-2"></i> 
              </button>
              <button class="btn btn-light-danger custom-btn-spacing" (click)="deleteCult(cult.id)">
                <i class="fas fa-trash-alt mr-2"></i> 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Paginação Responsiva -->
    <div class="pagination-controls text-center mt-3">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <!-- Botão "Anterior" -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="loadData('previous')">
              <i class="fas fa-chevron-left"></i> Anterior
            </button>
          </li>
    
          <!-- Páginas numeradas -->
          <li
            class="page-item"
            *ngFor="let page of getPaginationArray()"
            [class.active]="page === currentPage"
          >
            <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
          </li>
    
          <!-- Botão "Próxima" -->
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="loadData('next')">
              Próxima <i class="fas fa-chevron-right"></i>
            </button>
          </li>
        </ul>
      </nav>
    </div>
    
  </app-card>
</div>
